<div class="row mt-5">
  <div class="col-md-4"></div>
  <div class="col-md-4">

      <mat-card>
      <form
        *ngIf="!auth.isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >

      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>Usuario o Email</mat-label>
          <input matInput type="text"
          name="useremail"
          [(ngModel)]="form.useremail"
          (keyup.enter)="onSubmit()"
          required
          minlength="0"
          maxlength="128"
          #useremail="ngModel">
        </mat-form-field>
        <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && useremail.invalid"
          >
            Se requiere de un usuario o email!
          </div>
      </div>

        <div class="form-group">
          <mat-form-field class="full-width" >
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"
            name="password"
            [(ngModel)]="form.password"
            (keyup.enter)="onSubmit();hide=true;"
            required
            minlength="6"
            #password="ngModel"
            matInput>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && password.invalid"
          >
          Se requiere de una contraseña!
          </div>
        </div>

        
        <div class="form-group">
          <button mat-raised-button color="primary">Iniciar Sesión</button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Inicio sesión fallido: {{ errorMessage }}
          </div>
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="auth.isLoggedIn">
        Has iniciado sesión corrcetamente.
      </div>
    </mat-card>
  </div>
  <div class="col-md-4"></div>
</div>
