mat-form-field {
    width: 100%;
  }

  .green{
    color:green;
  }
  
  .orange{
    color:orange;
  }
  
  .red{
    color:red;
  }

  b{
    color:gray;
}

* {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

/* You




<div class="col-md-10 mb-5">
          <div class="container-fluid">

            <mat-spinner class="ml-1 float-left" *ngIf="download.state == 'PENDING'" diameter="20"></mat-spinner>
            <span class="mr-5 ml-3 float-left" *ngIf="!downloadIsFolder"><b>{{download.state}} </b>  Descargando.. {{ downloadName }} <b>{{convertBytesSize((downloadSizeNumber*(download.progress/100)).toFixed(2))}}</b> de <b>{{downloadSize}}</b></span>
            <span class="mr-5 ml-3 float-left" *ngIf="downloadIsFolder && download.state == 'IN_PROGRESS'"><b>{{download.state}} {{download.progress}}% </b>  Descargando carpeta.. {{ downloadName }}</span>
            <span class="mr-5 ml-3 float-left" *ngIf="downloadIsFolder && download.state == 'PENDING'"><b>{{download.state}} {{download.progress}}% </b>  Desencriptando carpeta.. {{ downloadName }}</span>
            <button class="float-right mb-2" mat-raised-button color="primary" *ngIf="download.progress === 100" (click)="cerrarVentana('download');">Cerrar</button>
            <button class="float-right mb-2" mat-raised-button color="primary" *ngIf="download.progress !== 100" (click)="cancelar('download');">Cancelar</button>
          </div>
      
          <mat-progress-bar 
          [mode]="download.state == 'PENDING' ? 'buffer' : 'determinate'" 
          [value]="download.progress">
          </mat-progress-bar>
        </div>




*/