<h1 mat-dialog-title  *ngIf="data.element.isFolder">Reenombrar la carpeta</h1>
<h1 mat-dialog-title  *ngIf="!data.element.isFolder">Reenombrar el archivo</h1>

<mat-dialog-content>
  <mat-form-field class="example-full-width">
    <input matInput *ngIf="data.element.isFolder" placeholder="Nombre carpeta" [(ngModel)]="folderName"
    type="text" 
    required>
    <input matInput *ngIf="!data.element.isFolder" placeholder="Nombre archivo" [(ngModel)]="folderName"
    type="text" 
    required>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button [mat-dialog-close]="folderName" color="primary">Aceptar</button>
</mat-dialog-actions>