<div class="container">

    <div class="row justify-content-center">
        <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmitNewPassword()"
        #f="ngForm"
        novalidate>
    
        <div class="form-group">
          <mat-form-field class="full-width" >
            <mat-label>Nueva Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"
            name="password"
            [(ngModel)]="form.password"
            required
            (keyup.enter)="hide=true;"
            minlength="6"
            #password="ngModel"
            matInput>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && password.invalid"
          >
          Se requiere de una contraseña!
          </div>
        </div>
    
        <div class="form-group">
          <mat-form-field class="full-width" >
            <mat-label>Repite Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"
            name="newpassword"
            [(ngModel)]="form.newpassword"
            required
            (keyup.enter)="hide=true;"
            minlength="6"
            #newpassword="ngModel"
            matInput>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && newpassword.invalid"
          >
          Se requiere de una contraseña!
          </div>
        </div>
    
        </form>
      </div>
    
      <div class="row justify-content-center form-group">
        <button mat-raised-button color="primary" (click)="onSubmitNewPassword();">Guardar cambios</button>
      </div>

</div>>
