
<div class="container mt-5">

  <mat-card>
    <div class="row justify-content-center">
      <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmitNewPassword()"
      #f="ngForm"
      novalidate>
  
      <div class="form-group">
        <mat-form-field class="full-width" >
          <mat-label>Nueva Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"
          name="password"
          [(ngModel)]="form.password"
          required
          (keyup.enter)="hide=true;"
          minlength="2"
          #password="ngModel"
          matInput>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && password.invalid"
        >
        Se requiere de una contraseña!
        </div>
      </div>
  
      <div class="form-group">
        <mat-form-field class="full-width" >
          <mat-label>Repite Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"
          name="newpassword"
          [(ngModel)]="form.newpassword"
          required
          (keyup.enter)="hide=true;"
          minlength="2"
          #newpassword="ngModel"
          matInput>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && newpassword.invalid"
        >
        Se requiere de una contraseña!
        </div>
      </div>
  
      </form>
    </div>
  
    <div class="row justify-content-center mb-2">
      <form>

        <mat-form-field class="example-full-width">
          <mat-label>Clave de recuperación</mat-label>
          <input matInput #recover maxlength="1024" name="pbkdf2"
          [(ngModel)]="form.pbkf2" placeholder="Introduce la clave de recuperación">
          <mat-hint align="end">{{recover.value.length}} / 1024</mat-hint>
        </mat-form-field>
      </form>
      
    </div>
    
    <mat-hint class="mt-2 mb-2 red"  *ngIf="passwordNotMatch">Las contraseñas no coinciden!. Asegurate de que sean ambas correctas</mat-hint>
    <div class="row justify-content-center form-group">
      <button mat-raised-button color="primary" (click)="onSubmitNewPassword();">Guardar cambios</button>
    </div>

  </mat-card>

  
</div>
      
