
<div class="container mt-5">

  <mat-card>

    <div class="row justify-content-center mb-5">
      <div class="col-md-2 col-1">
        <img alt="security" class="img-fluid" src="./../../assets/img/password-recover.svg">
      </div>
    </div>

    <div class="row justify-content-center" *ngIf="!recoveredSuccess">
      <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmitNewPassword()"
      #f="ngForm"
      novalidate>
  
      <div class="form-group">
        <mat-form-field class="full-width" >
          <mat-label>Nueva Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"
          name="password"
          [(ngModel)]="form.password"
          required
          (keyup.enter)="hide=true;"
          minlength="2"
          #password="ngModel"
          matInput>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && password.invalid"
        >
        Se requiere de una contraseña!
        </div>
      </div>
  
      <div class="form-group">
        <mat-form-field class="full-width" >
          <mat-label>Repite Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"
          name="newpassword"
          [(ngModel)]="form.newpassword"
          required
          (keyup.enter)="hide=true;"
          minlength="2"
          #newpassword="ngModel"
          matInput>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && newpassword.invalid"
        >
        Se requiere de una contraseña!
        </div>
      </div>
  
      </form>
    </div>

    <div class="row justify-content-center mb-2" *ngIf="!recoveredSuccess">
      <div class="col-md-4">
        <mat-hint class="mt-2 mb-2"><b>*Para recuperar la contraseña puedes dejar este campo vacio, pero perderás todos los acrhivos y dejaran de ser accesibles, eso conlleva a que todos tus datos serán eliminados. Introduciendo la clave de recuperación podrás conservar todos tus archivos.</b></mat-hint>
      </div>
    </div>

    <div class="row justify-content-center mb-2" *ngIf="!recoveredSuccess">
      <form>

        <mat-form-field class="example-full-width">
          <mat-label>Clave de recuperación</mat-label>
          <input matInput #recover maxlength="1024" name="pbkdf2"
          [(ngModel)]="form.pbkf2" placeholder="Introduce la clave de recuperación">
          <mat-hint align="end">{{recover.value.length}} / 1024</mat-hint>
        </mat-form-field>
      </form>
      
    </div>

    
    
    <div class="row justify-content-center form-group" *ngIf="!recoveredSuccess">
      <button mat-raised-button color="primary" (click)="onSubmitNewPassword();">Recuperar</button>
    </div>

    <div class="row justify-content-center mb-2">
      <a href="#" routerLink="/login" *ngIf="recoveredSuccess"><button mat-stroked-button color="primary">Iniciar Sesión</button></a>
    </div>

    <div class="row justify-content-center mb-2">

      <div class="alert alert-danger" *ngIf="!recoveredSuccess && errorMessage !== undefined">
        <mat-hint class="mt-2 mb-2" *ngIf="!recoveredSuccess && errorMessage !== undefined">{{errorMessage}}</mat-hint>
      </div>

      <div class="alert alert-success" *ngIf="recoveredSuccess && successMessage !== undefined">
        <mat-hint class="mt-2 mb-2" *ngIf="recoveredSuccess && successMessage !== undefined">{{successMessage}}</mat-hint>
      </div>

      <div class="alert alert-success" *ngIf="passwordNotMatch">
        <mat-hint class="mt-2 mb-2" *ngIf="passwordNotMatch">Las contraseñas no coinciden!. Asegurate de que sean ambas correctas</mat-hint>
      </div>
    </div>

  </mat-card>

  
</div>
      
