<div class="container">
  <div class="mt-3">
    <mat-expansion-panel (closed)="panelOpenState = false"
                       (opened)="panelOpenState = true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon color="primary">supervised_user_circle</mat-icon> <div class="ml-2">Mi Cuenta</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="mt-2">
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-icon class="orange">data_usage</mat-icon> <div class="ml-2">Uso General</div>
          </mat-panel-title>
          </mat-expansion-panel-header>
          </mat-expansion-panel>
      </div>

      <div class="mt-2">
        <mat-expansion-panel (opened)="panelOpenState = false"
          (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-icon color="primary">supervised_user_circle</mat-icon> <div class="ml-2">Perfil</div>
          </mat-panel-title>
          </mat-expansion-panel-header>
            <mat-card class="mt-2"><b>Usuario:      </b>{{currentUser.username}}</mat-card>
            <mat-card class="mt-2"><b>Email:        </b> {{currentUser.email}}</mat-card>
            <mat-card class="mt-2"><b>Fecha de creación:        </b> {{createdDateString}}</mat-card>
            <mat-card class="mt-2"><b>Último inicio de sesión:        </b>{{lastLoginDateString}}</mat-card>
        </mat-expansion-panel>
      </div>

      <div class="mt-2">
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-icon color="warn">delete_outline</mat-icon> <div class="ml-2">Eliminar Cuenta</div>
          </mat-panel-title>
          </mat-expansion-panel-header>
          </mat-expansion-panel>
      </div>
      
    </mat-expansion-panel>
  </div>
  <div class="mt-3">
    <mat-expansion-panel (opened)="panelOpenState = false"
                       (closed)="panelOpenState = true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="orange">security</mat-icon> <div class="ml-2">Seguridad</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      
      <div class="mt-2">
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-icon class="orange">vpn_key</mat-icon> <div class="ml-2">Cambiar contraseña</div>
          </mat-panel-title>
          </mat-expansion-panel-header>
          </mat-expansion-panel>
      </div>

      <div class="mt-2">
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-icon color="primary">alternate_email</mat-icon> <div class="ml-2">Cambiar correo electronico</div>
          </mat-panel-title>
          </mat-expansion-panel-header>
          </mat-expansion-panel>
      </div>

      <div class="mt-2">
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-icon class="green">cloud_done</mat-icon> <div class="ml-2">Clave de recuperación</div>
          </mat-panel-title>
          </mat-expansion-panel-header>
          </mat-expansion-panel>
      </div>

      <div class="mt-2">
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-icon class="green">phonelink</mat-icon> <div class="ml-2">Autenticación en 2 factores</div>
          </mat-panel-title>
          </mat-expansion-panel-header>
          </mat-expansion-panel>
      </div>

      <div class="mt-2">
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-icon color="primary">devices_other</mat-icon> <div class="ml-2">Historial de Sesiones</div>
          </mat-panel-title>
          </mat-expansion-panel-header>
          </mat-expansion-panel>
      </div>

    </mat-expansion-panel>
  </div>
</div>
  
  