<mat-progress-bar mode="query" *ngIf="progressBar"></mat-progress-bar>
<div class="container">
  <div class="mt-3">
    <mat-expansion-panel (closed)="panelOpenState = false"
                       (opened)="panelOpenState = true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon color="primary">supervised_user_circle</mat-icon> <div class="ml-2">Mi Cuenta</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="mt-2">
        <mat-expansion-panel (opened)="panelOpenState = false;getProgressBarStorage()"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-icon class="orange">data_usage</mat-icon> <div class="ml-2">Uso General</div>
          </mat-panel-title>
          </mat-expansion-panel-header>
            <div class="row justify-content-center">
              <div class="mb-3 pl-3 pl-sm-0"><b>{{userStorageUsed}}</b> de <b>{{userStorageTotal}}</b> ({{progressBarStorage}} %) de espacio utilizado.</div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-10">
                <mat-progress-bar mode="determinate" value="{{progressBarStorage}}"></mat-progress-bar>
              </div>
            </div>
          </mat-expansion-panel>
      </div>

      <div class="mt-2">
        <mat-expansion-panel (opened)="panelOpenState = false"
          (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-icon color="primary">supervised_user_circle</mat-icon> <div class="ml-2">Perfil</div>
          </mat-panel-title>
          </mat-expansion-panel-header>
            <mat-card class="mt-2 text-break"><b>Usuario:      </b>{{currentUser.username}}</mat-card>
            <mat-card class="mt-2 text-break"><b>Nombre:      </b>{{currentUser.name}}</mat-card>
            <mat-card class="mt-2 text-break"><b>Email:        </b> {{currentUser.email}}</mat-card>
            <mat-card class="mt-2 text-break"><b>Fecha de creación:        </b> {{createdDateString}}</mat-card>
            <mat-card class="mt-2 text-break"><b>Último inicio de sesión:        </b>{{lastLoginDateString}}</mat-card>
        </mat-expansion-panel>
      </div>

      <div class="mt-2">
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-icon color="warn">delete_outline</mat-icon> <div class="ml-2">Eliminar Cuenta</div>
          </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card class="mt-2 text-break">Eliminar la cuenta del usuario y todo sus archivos.</mat-card>
          <button class="mt-3 ml-2" mat-raised-button color="warn" (click)="sureDelete();">Eliminar cuenta</button>
          </mat-expansion-panel>
      </div>
      
    </mat-expansion-panel>
  </div>
  <div class="mt-3">
    <mat-expansion-panel (opened)="panelOpenState = false"
                       (closed)="panelOpenState = true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="orange">security</mat-icon> <div class="ml-2">Seguridad</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      
      <div class="mt-2">
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-icon class="orange">vpn_key</mat-icon> <div class="ml-2">Cambiar contraseña</div>
          </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="row justify-content-center">
            <form
            name="form"
            (ngSubmit)="f.form.valid && onSubmitNewPassword()"
            #f="ngForm"
            novalidate>

            <div class="form-group">
              <mat-form-field class="full-width" >
                <mat-label>Nueva Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'"
                name="password"
                [(ngModel)]="form.password"
                required
                (keyup.enter)="hide=true;"
                minlength="6"
                #password="ngModel"
                matInput>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && password.invalid"
              >
              Se requiere de una contraseña!
              </div>
            </div>

            <div class="form-group">
              <mat-form-field class="full-width" >
                <mat-label>Repite Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'"
                name="newpassword"
                [(ngModel)]="form.newpassword"
                required
                (keyup.enter)="hide=true;"
                minlength="6"
                #newpassword="ngModel"
                matInput>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && newpassword.invalid"
              >
              Se requiere de una contraseña!
              </div>
            </div>

            </form>
          </div>

          <div class="row justify-content-center form-group">
            <button mat-raised-button color="primary" (click)="onSubmitNewPassword();">Guardar cambios</button>
          </div>
          </mat-expansion-panel>
      </div>

      <div class="mt-2">
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-icon color="primary">alternate_email</mat-icon> <div class="ml-2">Cambiar correo electronico</div>
          </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-break pl-2">Introduce tu nuevo correo debajo, una vez cambiado todos los codigos ya sean de Autenticación o Recuperacion de contraseña llegaran al nuevo correo introducido.</p>

          <div class="row justify-content-center">

            <form
              name="form"
              (ngSubmit)="f.form.valid && onSubmitNewEmail()"
              #f="ngForm"
              novalidate
            >

              <div class="form-group">
                <mat-form-field class="full-width">
                  <mat-label>Nuevo email</mat-label>
                  <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. jhon@gmail.com" [(ngModel)]="form.email" name="email">
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Por favor introduce un email válido
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Este campo es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="full-width">
                  <mat-label>Reintroduce nuevo email</mat-label>
                  <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. jhon@gmail.com" [(ngModel)]="form.newemail" name="newemail">
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Por favor Reeintroduce un email válido
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Este campo es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </form>
          </div>
          <div class="row justify-content-center form-group">
            <button mat-raised-button color="primary" (click)="onSubmitNewEmail();">Guardar cambios</button>
          </div>
          </mat-expansion-panel>
      </div>

      <div class="mt-2">
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-icon class="green">cloud_done</mat-icon> <div class="ml-2">Clave de recuperación</div>
          </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-expansion-panel (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
            Clave de encriptación
            </mat-panel-title>
            <mat-panel-description class="mr-5">
            {{panelOpenState ? 'Ocultar' : 'Ver'}}
            </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="text-break">{{key}}</p>
            </mat-expansion-panel>
            <div class="row mt-3 justify-content-center">
                <button class="mr-3 mt-3 mb-0 mb-xs-3 mr-xs-0" mat-raised-button color="primary" (click)="copiedSuccesfull();" [cdkCopyToClipboard]="key">Copiar clave</button>
                <button class="mt-3" mat-raised-button color="warn" (click)="downloadKey();">Descargar clave</button>
            </div>
          </mat-expansion-panel>
      </div>

      <div class="mt-2">
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-icon class="green">phonelink</mat-icon> <div class="ml-2">Autenticación en 2 factores</div>
          </mat-panel-title>
          </mat-expansion-panel-header>
            <div class="row"><p class="text-break ml-3 mr-3">Activa o desactiva la Autenticación en 2 factores, puedes activarlo o desactivarlo cuando quieras. Una vez activado los nuevos inicios de sesión requieren de un código que se te enviará por correo electrónico.</p></div>
            <div class="row">
              <div class="ml-3"></div><mat-slide-toggle [(ngModel)]="T2A_OPCION" (change)="toggle($event)">{{T2A_MENSAJE}}</mat-slide-toggle>
            </div>
          </mat-expansion-panel>
      </div>

      <div class="mt-2">
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-icon color="primary">devices_other</mat-icon> <div class="ml-2">Historial de Sesiones</div>
          </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="row">
            <div *ngFor="let session of sessions">
              <mat-card class="ml-2 mt-2">
                <mat-list>
                  <div class="row ml-2">
                      <span class="pr-4 text-break text-uppercase "> <b>Sistema Operativo :</b> {{session.os}} </span>
                  </div>
      
                  <div class="row ml-2">
                      <span class="pr-4 text-break"> <b>Navegador :</b> {{session.browser}} </span>
                  </div>
      
                  <div class="row ml-2">
                      <span class="pr-4 text-break"><b>IP:</b>  {{session.ip}} </span>
                  </div>
      
                  <div class="row ml-2">
                      <span class="pr-4 text-break"> <b>Pais:</b> {{session.country_name}} </span>
                  </div>
      
                  <div class="row ml-2">
                      <span class="pr-4 text-break"> <b>ISP :</b> {{session.org}} </span>
                  </div>
      
                  <div class="row ml-2">
                      <span class="pr-4 text-break"> <b>Latitud:</b> {{session.latitude}} </span>
                  </div>
      
                  <div class="row ml-2">
                      <span class="pr-4 text-break"> <b>Longitud :</b> {{session.longitude}} </span>
                  </div>
      
                  <div class="row ml-2">
                      <span class="pr-4 text-break"><b>Region :</b>  {{session.region}} </span>
                  </div> 

                  <div class="row ml-2">
                    <span class="pr-4 text-break"><b>Cod Postal :</b>  {{session.postal}} </span>
                  </div> 
                  <div class="row ml-2">
                    <span class="pr-4 text-break"><b>Ciudad :</b>  {{session.city}} </span>
                  </div>
                  
                  <div class="row ml-2">
                    <span class="pr-4 text-break"><b>Fecha :</b>  {{getDateSession(session.date)}} </span>
                  </div> 
                </mat-list>
              </mat-card>
            </div>
          </div>
          </mat-expansion-panel>
      </div>

    </mat-expansion-panel>
  </div>
</div>
  
  