

<h1 mat-dialog-title *ngIf="!moreThanOne">Eliminar elemento</h1>
<div mat-dialog-content *ngIf="!moreThanOne">¿Estas seguro de eliminar este elemento?</div>

<h1 mat-dialog-title *ngIf="moreThanOne">Eliminar elementos</h1>
<div mat-dialog-content *ngIf="moreThanOne">¿Estas seguro de eliminar este elemento y todos los que contenga en su interior?</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close color="warn">Eliminar</button>
  <button mat-button mat-dialog-close>Cancelar</button>
</div>