  
<mat-toolbar>
    <mat-icon *ngIf="canNavigateUp" class="pointer" (click)="navigateUp()">arrow_back</mat-icon>
    <span style="margin-left: 8px" class="">{{path || 'Tus Archivos'}}</span>
    <span class="spacer"></span>
    <mat-icon class="pointer" (click)="openNewFolderDialog()" matTooltip="Crear una nueva carpeta"
    aria-label="Button that displays a tooltip when focused or hovered over">create_new_folder</mat-icon>
    <mat-icon class="pointer ml-3" (click)="shortByName()" matTooltip="Ordernar los elementos por nombre"
    aria-label="Button that displays a tooltip when focused or hovered over">sort_by_alpha</mat-icon>
    <mat-icon class="pointer ml-3" (click)="shortByDate()" matTooltip="Ordenar los elementos por fecha de última creacion o modificación"
    aria-label="Button that displays a tooltip when focused or hovered over">date_range</mat-icon>
    <mat-icon class="pointer ml-3 mr-3" (click)="shortBySize()">format_list_bulleted</mat-icon>
  </mat-toolbar>
  <!--
  <div class="container" fxFlex fxLayout="row" fxLayoutAlign="space-between stretch">
    <div class="content" fxFlex fxLayout="row">
      <mat-grid-list cols="8" rowHeight="100px" fxFlex>
        <mat-grid-tile *ngFor="let element of fileElements" class=file-or-folder>
          <span [matMenuTriggerFor]="rootMenu" [matMenuTriggerData]="{element: element}" #menuTrigger="matMenuTrigger"></span>
          <div fxLayout="column" fxLayoutAlign="space-between center" (click)="navigate(element)" (contextmenu)="openMenu($event, menuTrigger)">
            <mat-icon color="warn" class="file-or-folder-icon pointer" *ngIf="element.isFolder">folder</mat-icon>
            <mat-icon color="primary" class="file-or-folder-icon pointer" *ngIf="!element.isFolder">insert_drive_file</mat-icon>
            <span>{{element.name}}</span>
            <span>{{element.size}}</span>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
-->
  <div class="container-fluid" fxFlex fxLayout="row">
    
    <div class="content" fxFlex fxLayout="row">
      <div class="row justify-content-center justify-content-sm-start">
        <div *ngFor="let element of fileElements" class="file-or-folder" >
          <span [matMenuTriggerFor]="rootMenu" [matMenuTriggerData]="{element: element}" #menuTrigger="matMenuTrigger"></span>
          <div fxLayout="column" fxLayoutAlign="space-between center" (click)="navigate(element)" (contextmenu)="openMenu($event, menuTrigger)" class="element justify-content-center">
            


            <div class="row element-icon justify-content-center">
              <mat-icon color="warn" class="file-or-folder-icon pointer" *ngIf="element.isFolder">folder</mat-icon>
              <mat-icon color="primary" class="file-or-folder-icon pointer" *ngIf="!element.isFolder">insert_drive_file</mat-icon>
            </div>

            <div class="row justify-content-center">
              <span class="text-break text-center mr-3 ml-3">{{element.name}}</span>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
    <ng-template matMenuContent let-element="element">

      <button *ngIf="element.parent !== 'root'" mat-menu-item (click)=" moveToMainFolder(element)">
        <mat-icon>folder_special</mat-icon>
        <span>Mover a la carpeta principal</span>
      </button>

      <button mat-menu-item [matMenuTriggerFor]="moveToMenu" [matMenuTriggerData]="{self: element}">
        <mat-icon>open_with</mat-icon>
        <span>Mover a</span>
      </button>

      <button *ngIf="!element.isFolder" mat-menu-item (click)=" downloadDialog(element)">
        <mat-icon>cloud_download</mat-icon>
        <span>Descargar</span>
      </button>

      <button mat-menu-item (click)="openRenameDialog(element)">
        <mat-icon>edit</mat-icon>
        <span>Renombrar</span>
      </button>
      <button mat-menu-item (click)="openDeleteDialog(element)">
        <mat-icon>delete</mat-icon>
        <span>Eliminar</span>
      </button>

      <button mat-menu-item>
        <mat-icon>share</mat-icon>
        <span>Compartir</span>
      </button>

      <button mat-menu-item (click)="openMoreInfoDialog(element)">
        <mat-icon>info</mat-icon>
        <span>Más información</span>
      </button>
    </ng-template>
  </mat-menu>
  
  <mat-menu #moveToMenu="matMenu">
    <ng-template matMenuContent let-self="self">
      <ng-container *ngFor="let element of fileElements">
        <button *ngIf="element.isFolder && element.id !== self.id" mat-menu-item (click)="moveElement(self, element)">{{element.name}}</button>
      </ng-container>
    </ng-template>
  </mat-menu>