<h1 mat-dialog-title>Información</h1>

<mat-dialog-content>
    <mat-card>
        <mat-list>
            <mat-list-item class="pr-4 text-break "> Nombre : {{data.element.name}} </mat-list-item>
            <mat-list-item class="pr-4 text-break"> Tamaño: {{data.element.size}} </mat-list-item>
            <mat-list-item *ngIf="!data.element.isFolder" class="pr-4 text-break"> Tipo de archivo: {{data.element.mimetype}} </mat-list-item>
            <mat-list-item *ngIf="!data.element.isFolder" class="pr-4 text-break"> Extension: {{data.element.extension}} </mat-list-item>
            <mat-list-item class="pr-4 text-break"> Compartido : {{data.element.shared}} </mat-list-item>
            <mat-list-item class="pr-4 text-break"> Creado el : {{createdString}} </mat-list-item>
            <mat-list-item class="pr-4 text-break"> Modificado el : {{modified_atString}} </mat-list-item>
            <mat-list-item *ngIf="!data.element.isFolder" class="pr-4 text-break"> MD5 : {{data.element.md5}} </mat-list-item>
        </mat-list>
    </mat-card>

    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Cerrar</button>
    </div>
       <!--
        <mat-card> Nombre : {{data.element.name}}</mat-card>
        <mat-card> Tamaño:  {{data.element.size}}</mat-card>
        <div> Extension:  {{element.mymetype}}</div>
        <mat-card> Compartido : {{data.element.shared}} </mat-card>
        <mat-card> Creado el : {{data.element.created_at}}</mat-card>
        <mat-card> Modificado el : {{data.element.modified_at}} </mat-card>

    -->

</mat-dialog-content>