<h1 mat-dialog-title>Información</h1>

<mat-dialog-content>

        <mat-list>
            <div class="row ml-2">
                <span class="pr-4 text-break "> <b>Nombre :</b> {{data.element.name}} </span>
            </div>

            <div class="row ml-2">
                <span class="pr-4 text-break"> <b>Tamaño:</b> {{data.element.size}} </span>
            </div>

            <div class="row ml-2">
                <span *ngIf="!data.element.isFolder" class="pr-4 text-break"><b>Tipo de archivo:</b>  {{data.element.mimetype}} </span>
            </div>

            <div class="row ml-2">
                <span *ngIf="!data.element.isFolder" class="pr-4 text-break"> <b>Extension:</b> {{data.element.extension}} </span>
            </div>

            <div class="row ml-2">
                <span class="pr-4 text-break"> <b>Creado el :</b> {{createdString}} </span>
            </div>

            <div class="row ml-2">
                <span class="pr-4 text-break"> <b>Modificado el :</b> {{modified_atString}} </span>
            </div>

            <div class="row ml-2">
                <span *ngIf="!data.element.isFolder" class="pr-4 text-break"><b>MD5 :</b>  {{data.element.md5}} </span>
            </div> 
        </mat-list>


    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Cerrar</button>
    </div>
       <!--
        <mat-card> Nombre : {{data.element.name}}</mat-card>
        <mat-card> Tamaño:  {{data.element.size}}</mat-card>
        <div> Extension:  {{element.mymetype}}</div>
        <mat-card> Compartido : {{data.element.shared}} </mat-card>
        <mat-card> Creado el : {{data.element.created_at}}</mat-card>
        <mat-card> Modificado el : {{data.element.modified_at}} </mat-card>

    -->

</mat-dialog-content>