<h1 mat-dialog-title>Información</h1>

<mat-dialog-content>
    <mat-card>
        <mat-list>
            <mat-list-item> Nombre : {{data.element.name}} </mat-list-item>
            <mat-list-item> Tamaño: {{data.element.size}} </mat-list-item>
            <mat-list-item> Extension: {{data.element.mimetype}} </mat-list-item>
            <mat-list-item> Compartido : {{data.element.shared}} </mat-list-item>
            <mat-list-item> Creado el : {{data.element.created_at}} </mat-list-item>
            <mat-list-item> Modificado el : {{data.element.modified_at}} </mat-list-item>
            <mat-list-item> MD5 : {{data.element.md5}} </mat-list-item>
        </mat-list>
    </mat-card>

    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Cerrar</button>
    </div>
       <!--
        <mat-card> Nombre : {{data.element.name}}</mat-card>
        <mat-card> Tamaño:  {{data.element.size}}</mat-card>
        <div> Extension:  {{element.mymetype}}</div>
        <mat-card> Compartido : {{data.element.shared}} </mat-card>
        <mat-card> Creado el : {{data.element.created_at}}</mat-card>
        <mat-card> Modificado el : {{data.element.modified_at}} </mat-card>

    -->

</mat-dialog-content>