md-sidenav {
    min-width: 200px !important;
    width: 100vw !important;
    max-width: 400px !important;
    height: 100vh !important;
} 

mat-sidenav-content{
    height: 100vh !important;
    width: 100vw !important;
}


b{
    color:gray;
}
