<mat-progress-bar mode="indeterminate" *ngIf="progressBar"></mat-progress-bar>
<div id="app">

  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <img width="40px" height="40px" src="../assets/img/logo.svg" alt="logo">
    </button>
    <img class="d-none d-sm-block" width="50px" height="50px" src="../assets/img/logo.svg" alt="logo">
    <a href="#" class="navbar-brand d-none d-sm-block ml-4">EasySync</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home"><button mat-button color="primary">Home</button></a>
        </li>
        <li class="nav-item">
          <a href="/api" class="nav-link" routerLink="api"><button mat-button color="primary">API</button></a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item">
          <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register"><button mat-stroked-button color="primary">Registrarse</button></a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login"><button mat-stroked-button color="primary">Iniciar Sesión</button></a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-danger" (click)="logout()">Desconectar</button>
        </li>
      </ul>
    </div>
  </nav>

  <div *ngIf="isLoggedIn">
    <div class="alert alert-warning" role="alert" *ngIf="!isActivated">
      <div class="text-center">
        <div>Parece que aun no has activado tu cuenta, activar desde aquí
          <button class="btn btn-outline-danger ml-2" (click)="activateAccount()">Activar</button>
          <button class="btn btn-outline-info ml-2" (click)="moreInfo()">Mas información</button>
          <div>{{activateError}}</div>
        </div><div></div>
      </div>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="!isActivated">
      <div class="text-center">
        <div>Se ha enviado un correo a <b>{{ user.email }}</b> para que actives tu cuenta</div>
        <div>Si no has recibido ningun correo, vuelve a enviarlo desde aquí</div>
        <button class="btn btn-outline-success ml-2" (click)="activateAccount()">Enviar</button>
        <div>{{activated}}</div>
      </div>
    </div>
  </div>
  

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>

  <!--
  <div class="d-none">
    <footer class="bg-dark text-center text-white fixed-bottom">
      <div class="container p-4 pb-0">
        <section class="">
          <form action="">
            <div class="row d-flex justify-content-center">
              <div class="col-auto">
                <p class="pt-2">
                  <strong>Sign up for our newsletter</strong>
                </p>
              </div>
              <div class="col-md-5 col-12">
                <div class="form-outline form-white mb-4">
                  <input type="email" id="form5Example2" class="form-control" placeholder="Email address" />
                </div>
              </div>
              <div class="col-auto">
  
                <button type="submit" class="btn btn-outline-light mb-2">
                  Subscribe
                </button>
              </div>
  
            </div>
  
          </form>
        </section>
      </div>
    </footer>
  </div>
  -->
</div>

