<mat-progress-bar mode="query" *ngIf="progressBar"></mat-progress-bar>
<div id="app">

  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <mat-icon>menu</mat-icon>
    </button>
    <!--<img class="d-none d-sm-block" width="50px" height="50px" src="../assets/img/logo.svg" alt="logo">-->
    <!--<a href="#" class="navbar-brand d-none d-sm-block ml-4">EasySync</a>-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link mr-4" routerLink="home" data-toggle="collapse" data-target=".navbar-collapse.show"><button [disableRipple]="true" mat-icon-button color="primary" aria-label="home"><mat-icon>home</mat-icon><span class="ml-2">Home</span></button></a>
        </li>
        <li class="nav-item" *ngIf="auth.isLoggedIn">
          <a href="/drive" class="nav-link mr-4" routerLink="drive" data-toggle="collapse" data-target=".navbar-collapse.show"><button [disableRipple]="true" mat-icon-button color="primary" aria-label="mydrive"><mat-icon>backup</mat-icon><span class="ml-2">MyDrive</span></button></a>
        </li>
        <li class="nav-item">
          <a href="/api" class="nav-link ml-sm-3 " routerLink="api" data-toggle="collapse" data-target=".navbar-collapse.show"><button [disableRipple]="true" mat-icon-button color="primary" aria-label="api"><mat-icon>graphic_eq</mat-icon><span class="ml-2">APIs</span></button></a>
        </li>
        <!--
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        
        <li class="nav-item">
          <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User Developing</a>
        </li>
        -->
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!auth.isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register" data-toggle="collapse" data-target=".navbar-collapse.show"><button mat-stroked-button color="primary">Registrarse</button></a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login" data-toggle="collapse" data-target=".navbar-collapse.show"><button mat-stroked-button color="primary">Iniciar Sesión</button></a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="auth.isLoggedIn">
        <li class="nav-item mr-3">
          <a href="/profile" class="nav-link" routerLink="profile" data-toggle="collapse" data-target=".navbar-collapse.show"><button mat-icon-button color="primary" aria-label="profile"><mat-icon>supervised_user_circle</mat-icon><span class="ml-1">{{username}}</span>
          </button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-5" data-toggle="collapse" data-target=".navbar-collapse.show"><button  mat-icon-button color="warn" (click)="logout()"><mat-icon>exit_to_app</mat-icon><span class="ml-1">Desconectar</span></button></a>
        </li>
      </ul>
    </div>
  </nav>

  <div *ngIf="auth.isLoggedIn">
  </div>
</div>

<router-outlet></router-outlet>
<div class="container-fluid">
<div class="footer">

  <mat-card *ngIf="download$ | async as download">
    <div class="container-fluid">
      <span class="mr-5 ml-3 float-left"><b>{{download.state}} </b>  Descargando.. {{ downloadName }} <b>{{convertBytesSize((downloadSizeNumber*(download.progress/100)).toFixed(2))}}</b> de <b>{{downloadSize}}</b></span>
      <button class="float-right mb-2" mat-raised-button color="primary" *ngIf="download.progress === 100" (click)="cerrarVentana('download');">Cerrar</button>
      <button class="float-right mb-2" mat-raised-button color="primary" *ngIf="download.progress !== 100" (click)="cancelar('download');">Cancelar</button>
    </div>

    <mat-progress-bar 
    [mode]="download.state == 'PENDING' ? 'buffer' : 'determinate'" 
    [value]="download.progress">
    </mat-progress-bar>
  </mat-card>

  <mat-card *ngIf="upload">
    <div class="container-fluid">
        <span class="mr-5 ml-3 float-left" ><b>{{uploadState}} </b>  Subiendo.. {{uploadName}} <b>{{uploaded}}</b> de <b>{{uploadSize}}</b> </span>
        <button class="float-right mb-2" mat-raised-button color="warn" *ngIf="uploadFinished" (click)="cerrarVentana('upload');">Cerrar</button>
        <button class="float-right mb-2" mat-raised-button color="warn" *ngIf="uploadProgress < 100" (click)="cancelar('upload');">Cancelar</button>
    </div>

      <mat-progress-bar
      color="warn" 
      mode="determinate" 
      [value]="uploadProgress">
      </mat-progress-bar>
  </mat-card>
</div>



